In [1]:
import pandas as pd
import numpy as np

# realtor_data = pd.read_csv("data/realtor-data.csv")
# NY_data = realtor_data.loc[realtor_data["state"] == "New York"]
# NY_data = NY_data.drop(["brokered_by", "status", "prev_sold_date"], axis=1)
# NY_data.head()

/var/folders/qy/9tfjb9m90gdcrh6z8bn8k_nh0000gn/T/ipykernel_20409/4101296628.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [9]:
NY_data = pd.read_csv("data/NY_data.csv")
len(NY_data.index)

50755

In [10]:
NY_data.head()

      price  bed  bath  acre_lot  zip_code  house_size
0  175000.0  3.0   1.0     60.00   12022.0      1176.0
1  425000.0  3.0   2.0      2.02   12521.0      1600.0
2  225000.0  4.0   2.0      0.24   12521.0      1239.0
3  419000.0  3.0   3.0      1.90   12516.0      1800.0
4  365000.0  3.0   2.0      2.00   12517.0      1482.0

In [12]:
from sklearn.preprocessing import OneHotEncoder

nan_count = NY_data['price'].isna().sum()
nan_count = NY_data['house_size'].isna().sum()

# df = NY_data.dropna()
# df.drop(columns=["street", "city, "state"], inplace=True)
# len(df.index)

NY_data['zip_code'] = NY_data['zip_code'].astype(int)

# Separate numerical and categorical columns
# numerical_cols = NY_data.select_dtypes(include=['int64', 'float64']).columns
# categorical_cols = NY_data.select_dtypes(include=['object', 'category']).columns

# encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
# encoded_cats = encoder.fit_transform(numerical_cols)

# # Correctly name the one-hot encoded columns
# encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out(categorical_cols))

# # # Combine numerical columns and encoded categorical columns
# combined_data = pd.concat([NY_data[numerical_cols], encoded_cats_df], axis=1)
NY_data.head()

0

In [39]:
df.to_csv("data/NY_data.csv", index=False)
# from sklearn.impute import KNNImputer

# NY_data = NY_data.iloc[:100]


# # For simplicity, this example uses One-Hot Encoding for categorical columns

# # Apply KNNImputer
# imputer = KNNImputer(n_neighbors=5)
# imputed_data = imputer.fit_transform(combined_data)

# # NY_data = pd.DataFrame(imputed_data, columns=NY_data.columns, index=NY_data.index)

# # NY_data.head()