In [8]:
import pandas as pd
import numpy as np

realtor_data = pd.read_csv("data/realtor-data.csv")
NY_data = realtor_data.loc[realtor_data["state"] == "New York"]

103159

In [9]:
len(NY_data.index)

103159

In [10]:
NY_data.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
5217,10368.0,for_sale,175000.0,3.0,1.0,60.00,553526.0,Berlin,New York,12022.0,1176.0,NaN
7970,22006.0,for_sale,425000.0,3.0,2.0,2.02,263302.0,Claverack,New York,12521.0,1600.0,2021-11-24
7975,48310.0,for_sale,225000.0,4.0,2.0,0.24,871278.0,Copake,New York,12521.0,1239.0,2018-02-01
7976,7797.0,for_sale,419000.0,3.0,3.0,1.90,286373.0,Copake,New York,12516.0,1800.0,NaN
7977,23402.0,for_sale,365000.0,3.0,2.0,2.00,78544.0,Copake,New York,12517.0,1482.0,NaN

In [18]:
NY_data = NY_data.drop(["brokered_by", "status", "prev_sold_date"], axis=1)
NY_data.head()

,price,bed,bath,acre_lot,street,city,state,zip_code,house_size
5217,175000.0,3.0,1.0,60.00,553526.0,Berlin,New York,12022.0,1176.0
7970,425000.0,3.0,2.0,2.02,263302.0,Claverack,New York,12521.0,1600.0
7975,225000.0,4.0,2.0,0.24,871278.0,Copake,New York,12521.0,1239.0
7976,419000.0,3.0,3.0,1.90,286373.0,Copake,New York,12516.0,1800.0
7977,365000.0,3.0,2.0,2.00,78544.0,Copake,New York,12517.0,1482.0

In [19]:
# NY_data.to_csv('data/NY_data.csv', index=False)