In [11]:
import pandas as pd
import numpy as np

# realtor_data = pd.read_csv("data/realtor-data.csv")
# NY_data = realtor_data.loc[realtor_data["state"] == "New York"]
# NY_data = NY_data.drop(["brokered_by", "status", "prev_sold_date"], axis=1)
# NY_data.head()

In [12]:
NY_data = pd.read_csv("data/NY_data.csv")
len(NY_data.index)

50755

In [13]:
NY_data.head()

      price  bed  bath  acre_lot  zip_code  house_size
0  175000.0  3.0   1.0     60.00   12022.0      1176.0
1  425000.0  3.0   2.0      2.02   12521.0      1600.0
2  225000.0  4.0   2.0      0.24   12521.0      1239.0
3  419000.0  3.0   3.0      1.90   12516.0      1800.0
4  365000.0  3.0   2.0      2.00   12517.0      1482.0

In [15]:
from sklearn.preprocessing import OneHotEncoder

nan_count = NY_data['price'].isna().sum()
nan_count = NY_data['house_size'].isna().sum()

df = NY_data.dropna()
df['price'] = df['price'].astype(int)
df['bed'] = df['bed'].astype(int)
df['bath'] = df['bath'].astype(int)
df['zip_code'] = df['zip_code'].astype(int)
df['house_size'] = df['house_size'].astype(int)

# df.drop(columns=["street", "city, "state"], inplace=True)
len(df.index)

# Separate numerical and categorical columns
# numerical_cols = NY_data.select_dtypes(include=['int64', 'float64']).columns
# categorical_cols = NY_data.select_dtypes(include=['object', 'category']).columns

# encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
# encoded_cats = encoder.fit_transform(numerical_cols)

# # Correctly name the one-hot encoded columns
# encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out(categorical_cols))

# # # Combine numerical columns and encoded categorical columns
# combined_data = pd.concat([NY_data[numerical_cols], encoded_cats_df], axis=1)
df.head()

    price  bed  bath  acre_lot  zip_code  house_size
0  175000    3     1     60.00     12022        1176
1  425000    3     2      2.02     12521        1600
2  225000    4     2      0.24     12521        1239
3  419000    3     3      1.90     12516        1800
4  365000    3     2      2.00     12517        1482

In [16]:
df.to_csv("data/NY_data_ints.csv", index=False)
# from sklearn.impute import KNNImputer

# NY_data = NY_data.iloc[:100]


# # For simplicity, this example uses One-Hot Encoding for categorical columns

# # Apply KNNImputer
# imputer = KNNImputer(n_neighbors=5)
# imputed_data = imputer.fit_transform(combined_data)

# # NY_data = pd.DataFrame(imputed_data, columns=NY_data.columns, index=NY_data.index)

# # NY_data.head()